@use 'general' as *;

/* =========================
   2 COLUMNAS
   ========================= */

.two-col {
  display: flex;
  align-items: center;
  gap: 32px;
  flex-wrap: wrap;

  > div {
    flex: 1 1 320px;
  }

  img {
    flex: 1 1 320px;
    max-width: 500px;
  }
}

/* =========================
   HOME – 3 BOXES
   ========================= */

.soluciones {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  padding: 24px 0 48px;
}

.solution-card {
  border: 1px solid $color-border;
  padding: 18px;
  flex: 1 1 260px;
  background: $color-white;

  img {
    width: 24px;
    margin-bottom: 10px;
  }
}

/* =========================
   SECCIÓN CON FONDO
   ========================= */

.solucion {
  background: $color-white;
  padding: 48px 0;

  &.gris {
    background: #ededed;
  }
}

/* =========================
   CONTACTO
   ========================= */

.contact-form {
  max-width: 800px;

  label {
    display: block;
    font-weight: 500;
    margin-bottom: 6px;
  }

  input,
  textarea,
  select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    font-family: inherit;
  }

  textarea {
    resize: vertical;
  }

  > div {
    margin-bottom: 16px;
  }
}

.form-row {
  display: flex;
  gap: 24px;
  margin-bottom: 16px;

  > div {
    flex: 1;
  }
}

/* =========================
   GALERÍA
   ========================= */

#galeriaStella {
  margin-top: 24px;
  border-radius: 12px;
  overflow: hidden;
  width: 500px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.stella-carousel-img {
  width: 500px;
  height: 500px;
  object-fit: cover;
  margin: 0 auto;
  display: block;
}

/* =========================
   GALERÍA PARA CELULAR
   ========================= */

.stella-masonry-mobile {
  display: none;
}

/* =========================
   VIDEO IFRAME
=========================== */
.contacto-video iframe {
  width: 100%;
  max-width: 315px;
  height: 560px;
  border: 0;
  display: block;
}